<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html"
>
<head>
    <style>
        .card-hover {
            transition: transform 0.3s;
        }

        .card-hover:hover {
            transform: scale(1.05);
        }

        a.card-link {
            text-decoration: none;
            color: inherit;
        }

        a.card-link:hover {
            text-decoration: none;
        }
    </style>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col-12 mx-auto">
            <div class="row">
                <form action="">
                    <div class="col-12 mx-auto d-flex justify-content-between">
                        <div class="dropdown-center mx-auto">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                Sort
                            </button>
                            <ul class="dropdown-menu mx-auto">
                                <div class="btn-group-vertical mx-3" role="group"
                                     aria-label="Vertical radio toggle button group">
                                    <input type="radio" class="btn-check" name="sort-radio" id="sortPriceAsc"
                                           autocomplete="off" checked>
                                    <label class="btn btn-outline-dark" for="sortPriceAsc">Price Asc</label>

                                    <input type="radio" class="btn-check" name="sort-radio" id="sortPriceDesc"
                                           autocomplete="off">
                                    <label class="btn btn-outline-dark" for="sortPriceDesc">Price Desc</label>

                                    <input type="radio" class="btn-check" name="sort-radio" id="sortPopular"
                                           autocomplete="off">
                                    <label class="btn btn-outline-dark" for="sortPopular">Popular</label>

                                    <input type="radio" class="btn-check" name="sort-radio" id="sortDiscount"
                                           autocomplete="off">
                                    <label class="btn btn-outline-dark" for="sortDiscount">Discount</label>
                                </div>
                            </ul>
                        </div>
                        <div class="dropdown-center mx-auto">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                Price
                            </button>
                            <ul class="dropdown-menu" style="width: 400px">
                                <div class="form-check row d-inline-flex mx-auto">
                                    <div class="col mx-auto">
                                        <input type="number" id="minPrice" name="minPrice" class="form-control"
                                               placeholder="Price from" min="0">
                                    </div>
                                    <div class="col mx-auto">
                                        <input type="number" id="maxPrice" name="maxPrice" class="form-control"
                                               placeholder="Price to"
                                               min="0" max="1000000">
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="dropdown-center mx-auto">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                Brand
                            </button>
                            <ul class="dropdown-menu">
                                <div class="form-check mx-auto" id="brands">

                                </div>
                            </ul>
                        </div>
                        <div class="dropdown-center mx-auto">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                Type
                            </button>
                            <ul class="dropdown-menu">
                                <div class="form-check mx-auto" id="types">

                                </div>
                            </ul>
                        </div>

                        <div class="dropdown-center mx-auto">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                Color
                            </button>
                            <ul class="dropdown-menu">
                                <!--                                <input type="text" id="color-search" placeholder="Search colors...">-->
                                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                                     class="scrollspy-example" tabindex="0">
                                    <div class="form-check mx-auto" id="colors" style="height: 200px; overflow: auto;">
                                    </div>
                                </div>
                            </ul>
                        </div>

                        <div class="dropdown-center mx-auto">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                Material
                            </button>
                            <ul class="dropdown-menu">
                                <!--                                <input type="text" id="color-search" placeholder="Search colors...">-->
                                <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                                     class="scrollspy-example" tabindex="0">
                                    <div class="form-check mx-auto" id="materials"
                                         style="height: 200px; overflow: auto;">
                                    </div>
                                </div>
                            </ul>
                        </div>

                        <div class="dropdown-center mx-auto">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                Gender
                            </button>
                            <ul class="dropdown-menu">
                                <div class="form-check mx-2">
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="genderId" id="genderMan"
                                               value="1" checked>
                                        <label for="genderMan" class="form-check-label">MAN</label>
                                    </div>
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="genderId" id="genderWoman"
                                               value="2">
                                        <label for="genderWoman" class="form-check-label">WOMAN</label>
                                    </div>
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="genderId" id="genderUnisex"
                                               value="3">
                                        <label for="genderUnisex" class="form-check-label">UNISEX</label>
                                    </div>
                                </div>
                            </ul>
                        </div>

                        <div class="mx-auto">
                            <button class="btn btn-outline-dark dropdown-toggle" type="button"
                                    data-bs-toggle="dropdown"
                                    data-bs-auto-close="outside" aria-expanded="false">
                                For child
                            </button>
                            <ul class="dropdown-menu">
                                <div class="form-check mx-2">
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="isChild" id="isChildYes"
                                               value="true">
                                        <label for="isChildYes" class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check mx-auto">
                                        <input class="form-check-input" type="radio" name="isChild" id="isChildNo"
                                               value="false" checked>
                                        <label for="isChildNo" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="mx-auto">
                            <input class="form-control me-2 text-black" type="text" style="width: 12rem"
                                   id="modelName" name="modelName">
                        </div>

                        <div class="mx-auto">
                            <button type="submit" class="btn btn-dark" id="searchBtn">Search</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="row mx-auto" id="item-cards">

                </div>
            </div>
        </div>
    </div>

    <script>
        const urlSearchParams = new URLSearchParams(window.location.search);
        const brandIds = urlSearchParams.getAll('brandId');
        const selectedBrandIds = brandIds.map(id => parseInt(id))

        const materialIds = urlSearchParams.getAll('materialId');
        const selectedMaterialIds = materialIds.map(id => parseInt(id));

        const colorIds = urlSearchParams.getAll('colorId');
        const selectedColorIds = colorIds.map(id => parseInt(id));

        const typeIds = urlSearchParams.getAll('typeId');
        const selectedTypeIds = typeIds.map(id => parseInt(id));

        function getBrands() {
            fetch('http://localhost:8000/api/brand/all')
                .then(response => response.json())
                .then(data => {
                    const brandInputs = data.map(brand => `
        <div class="form-check mx-auto">
          <input
          name="brandId"
          class="form-check-input"
          type="checkbox"
          id="${brand.name}"
          value="${brand.id}"
            ${selectedBrandIds.includes(brand.id)
                        ?
                        'checked' : ''}
            >
          <label for="${brand.name}" class="form-check-label">${brand.name}</label>
        </div>
      `);
                    document.getElementById("brands").innerHTML = brandInputs.join('');
                })
                .catch(error => console.error(error));
        }

        function getTypes() {
            fetch('http://localhost:8000/api/type/all')
                .then(response => response.json())
                .then(data => {
                    const typeInputs = data.map(type => `
                <div class="form-check mx-auto">
                    <input
                    name="typeId"
                    class="form-check-input"
                    type="checkbox"
                    id="${type.name}"
                    value="${type.id}"
                    ${selectedTypeIds.includes(type.id)
                        ?
                        'checked' : ''}
                    >
                    <label for="${type.name}" class="form-check-label">${type.name}</label>
                </div>
                `);
                    document.getElementById("types").innerHTML = typeInputs.join('');
                }).catch(error => console.error(error));
        }

        function getColors() {
            fetch('http://localhost:8000/api/color/all')
                .then(response => response.json())
                .then(data => {
                    const colorInputs = data.map(color => `
                <div class="form-check mx-auto">
                    <input
                    name="colorId"
                    class="form-check-input"
                    type="checkbox"
                    id="${color.name}"
                    value="${color.id}"
                    ${selectedColorIds.includes(color.id)
                        ?
                        'checked' : ''}
                    >
                    <label for="${color.name}" class="form-check-label">${color.name}</label>
                </div>
                `);
                    document.getElementById("colors").innerHTML = colorInputs.join('');
                }).catch(error => console.error(error));
        }

        function getMaterials() {
            fetch('http://localhost:8000/api/material/all')
                .then(response => response.json())
                .then(data => {
                    const materialInputs = data.map(material => `
                    <div class="form-check mx-auto">
                    <input
                    name="materialId"
                    class="form-check-input"
                    type="checkbox"
                    id="${material.name}"
                    value="${material.id}"
                    ${selectedMaterialIds.includes(material.id)
                        ?
                        'checked' : ''}
                    >
                    <label for="${material.name}" class="form-check-label">${material.name}</label>
                </div>
                    `);
                    document.getElementById("materials").innerHTML = materialInputs.join('');
                }).catch(error => console.error(error));
        }

        function search() {
            const minPrice = document.getElementById('minPrice').value;
            const maxPrice = document.getElementById('maxPrice').value;
            const modelName = document.getElementById('modelName').value;
            const selectedGender = document.querySelector('input[name="genderId"]:checked');
            const genderId = selectedGender.value;
            const selectedChild = document.querySelector('input[name="isChild"]:checked');
            const child = selectedChild.value;

            const url = new URL('http://localhost:8000/api/item/search/');
            url.searchParams.append('minPrice', minPrice);
            url.searchParams.append('maxPrice', maxPrice);
            url.searchParams.append('brandId', selectedBrandIds.join(','));
            url.searchParams.append('colorId', selectedColorIds.join(','));
            url.searchParams.append('typeId', selectedTypeIds.join(','));
            url.searchParams.append('materialId', selectedMaterialIds.join(','));
            url.searchParams.append('modelName', modelName);
            url.searchParams.append('child', child);
            url.searchParams.append('genderId', genderId);

            fetch(url.toString())
                .then(response => response.json())
                .then(data => {
                    const itemCards = data.map(item => `
        <div class="col-md-4 mt-3">
            <a href="http://localhost:8000/item/view/${item.id}" style="text-decoration: none; color: inherit;">
                <div class="card shadow-sm position-relative card-hover" style="position: relative;">
                        <img src="http://localhost:8000/file/view/${item.pictures[0]?item.pictures[0].name:"defaultImage.jpg"}" alt="Item profile photo" width="200" class="card-img-top" height="500">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="card-text text-uppercase flex-grow-1 fs-3">${item.brand.name}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="card-text flex-grow-1 fs-6 text-black-50">${item.subType.name}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="card-text flex-grow-1 fs-6 text-black-50">${item.article}</p>
                                </div>
                            </div>
                            <p class="card-text fs-3" style="color: green"><strong>${item.price + '$'}</strong></p>
                        </div>
                </div>
              </a>
            <i class="bi bi-cart me-2 top-0 end-0" style="font-size: 1.5rem; cursor: pointer; margin-top: 1rem; margin-right: 1rem;" onclick="event.stopPropagation(); addToCart(${item.id});"></i>
        </div>
      `);
                    document.getElementById('item-cards').innerHTML = itemCards.join('');
                })
                .catch(error => console.error(error));
        }

        document.getElementById("maxPrice").value = urlSearchParams.get('maxPrice');
        document.getElementById("minPrice").value = urlSearchParams.get('minPrice');
        document.getElementById("modelName").value = urlSearchParams.get('modelName');

        const genderId = urlSearchParams.get('genderId');
        const genderInputs = document.getElementsByName(`genderId`);

        for (let i = 0; i < genderInputs.length; i++) {
            const genderInput = genderInputs[i];
            if (genderInput.value === genderId) {
                genderInput.checked = true;
                break;
            }
        }

        const isChild = urlSearchParams.get('isChild');
        const isChildInputs = document.getElementsByName('isChild');

        for (let i = 0; i < isChildInputs.length; i++){
            const isChildInput = isChildInputs[i];
            if(isChildInput.value == isChild) {
                isChildInput.checked = true;
                break;
            }
        }

        getBrands();
        getTypes();
        getColors();
        getMaterials();
        search();

        function addToCart(id) {
            const url = `http://localhost:8000/api/cart/${id}`;

            fetch(url, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => {
                    if (response != null) {
                    showAlert("Added to cart!", false);
                    } else{
                        showAlert("Not Working!", true);
                        throw new Error('Network response was not ok');
                    }
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                });
        }
        function showAlert(message, isError) {
            var alertDiv = document.createElement("div");
            isError ?
                alertDiv.className = "alert alert-danger col-6 mx-auto"
                :
                alertDiv.className = "alert alert-success col-6 mx-auto";
            alertDiv.innerHTML = message;
            document.body.appendChild(alertDiv);

            setTimeout(function () {
                alertDiv.remove();
            }, 3000);
        }
    </script>
</div>
</html>