<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html"
>
<div layout:fragment="content">
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="row mt-3 ">
                <div class="col-6 text-center mx-auto">
                    <h1 class="header text-center mx-auto">ITEM EDIT PAGE</h1>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mx-auto">
                    <label>Name</label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 mx-auto">
                    <input type="number" hidden="hidden" required class="form-control" name="modelName" id="id">
                    <input type="text" required class="form-control" name="modelName" id="modelName">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mx-auto">
                    <label>Price</label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 mx-auto">
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" id="price"
                               aria-label="Amount (to the nearest dollar)">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 mx-auto">
                    <label>Discount</label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 mx-auto">
                    <div class="input-group">
                        <span class="input-group-text">%</span>
                        <input type="number" class="form-control" id="discount">
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mx-auto">
                    <label>Collection</label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 mx-auto">
                    <select type="text" required class="form-select" name="collection" id="collectionId">
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mx-auto">
                    <label>Gender</label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 mx-auto">
                    <select type="text" required class="form-select" name="genderId" id="genderId">
                        <option value="1">MAN</option>
                        <option value="2">WOMAN</option>
                        <option value="3">UNISEX</option>
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mx-auto">
                    <label>SubType</label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 mx-auto">
                    <select required class="form-select" id="subTypeId">
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 mx-auto">
                    <button class="btn " style="background-color: #EEFCF5" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseMaterials" aria-expanded="false"
                            aria-controls="collapseMaterials">
                        Materials ▽
                    </button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="collapse" id="collapseMaterials">
                    <div class="col-12 mx-auto" id="materialId">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 mx-auto">
                    <button class="btn " style="background-color: #EEFCF5" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseColors" aria-expanded="false"
                            aria-controls="collapseColors">
                        Colors ▽
                    </button>
                </div>
            </div>
            <div class="row mt-2">
                <div class="collapse" id="collapseColors">
                    <div class="col-12 mx-auto" id="colorId">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 mx-auto">
                    <div class="form-check form-switch">
                        <label class="form-check-label" for="isChild">For Child</label>
                        <input class="form-check-input" type="checkbox" role="switch" id="isChild">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-8 mx-auto">
                    <button type="button" class="btn btn-success me-2"
                            onclick="updateItem()">Update
                    </button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        Delete
                    </button>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="fs-5">Are you sure you want to delete?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                    onclick="deleteItem()">Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner mx-auto" style="width: 500px">
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="prev"
                                style="background-color: rgba(238,252,245,0.14); ">
                            <span class="carousel-control-prev-icon text-dark" aria-hidden="true"
                                  style="background-color: rgba(187,253,220,0.69)"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                                data-bs-slide="next"
                                style="background-color: rgba(238,252,245,0.14); ">
                            <span class="carousel-control-next-icon" aria-hidden="true"
                                  style="background-color: rgba(187,253,220,0.69)"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-8">
                    <div class="row mt-3">
                        <div class="col-12 mx-auto">
                            <label>Add Images</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 mx-auto">
                            <input type="file" multiple class="form-control" name="images" id="images">
                        </div>
                    </div>
                </div>

                <div class="row mt-3 mb-3">
                    <div class="col-12 mx-auto">
                        <button type="button" class="btn btn-success me-2"
                                onclick="addImages()">Add Images
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var selectedMaterialIds = [];
            var selectedColorIds = [];
            const path = window.location.pathname;
            const pathParts = path.split('/');
            const itemId = pathParts[3];

            Promise.all([
                fetch('http://localhost:8000/collection/all')
                    .then(response => response.json())
                    .then(data => {
                        const selectElement = document.getElementById("collectionId");
                        data.forEach(collection => {
                            const optionElement = document.createElement('option');
                            optionElement.value = collection.id;
                            optionElement.text = collection.brand.name + ' - ' + collection.name;
                            selectElement.appendChild(optionElement);
                        });
                    }).catch(error => console.error(error)),

                fetch('http://localhost:8000/sub-type/all')
                    .then(response => response.json())
                    .then(data => {
                        const selectElement = document.getElementById("subTypeId");
                        data.forEach(subType => {
                            const optionElement = document.createElement('option');
                            optionElement.value = subType.id;
                            optionElement.text = subType.type.name + ' - ' + subType.name;
                            selectElement.appendChild(optionElement);
                        });
                    }).catch(error => console.error(error)),

                fetch('http://localhost:8000/material/all')
                    .then(response => response.json())
                    .then(data => {
                        const divElement = document.getElementById("materialId");
                        const rowElement = document.createElement("div");
                        rowElement.classList.add("row", "mt-2");
                        divElement.appendChild(rowElement);

                        data.forEach(material => {
                            const colElement = document.createElement("div");
                            colElement.classList.add("col-md-2", "mb-3");

                            const labelElement = document.createElement("label");
                            labelElement.classList.add("d-block", "me-2");

                            const inputElement = document.createElement("input");
                            inputElement.type = "checkbox";
                            inputElement.name = "materials[]";
                            inputElement.value = material.id;

                            inputElement.addEventListener('change', (event) => {
                                const materialId = parseInt(event.target.value);
                                if (event.target.checked) {
                                    selectedMaterialIds.push(materialId);
                                } else {
                                    const index = selectedMaterialIds.indexOf(materialId);
                                    if (index > -1) {
                                        selectedMaterialIds.splice(index, 1);
                                    }
                                }
                            });

                            const textElement = document.createElement("span");
                            textElement.textContent = material.name;
                            textElement.classList.add("ms-2");

                            labelElement.appendChild(inputElement);
                            labelElement.appendChild(textElement);

                            colElement.appendChild(labelElement);
                            rowElement.appendChild(colElement);
                        });
                    })
                    .catch(error => console.error(error)),

                fetch('http://localhost:8000/color/all')
                    .then(response => response.json())
                    .then(data => {
                        const divElement = document.getElementById("colorId");
                        const rowElement = document.createElement("div");
                        rowElement.classList.add("row", "mt-2");
                        divElement.appendChild(rowElement);

                        data.forEach(color => {
                            const colElement = document.createElement("div");
                            colElement.classList.add("col-md-2", "mb-2");

                            const labelElement = document.createElement("label");
                            labelElement.classList.add("d-block", "me-2");

                            const inputElement = document.createElement("input");
                            inputElement.type = "checkbox";
                            inputElement.name = "colors[]";
                            inputElement.value = color.id;

                            inputElement.addEventListener('change', (event) => {
                                const materialId = parseInt(event.target.value);
                                if (event.target.checked) {
                                    selectedColorIds.push(materialId);
                                } else {
                                    const index = selectedColorIds.indexOf(materialId);
                                    if (index > -1) {
                                        selectedColorIds.splice(index, 1);
                                    }
                                }
                            });

                            const textElement = document.createElement("span");
                            textElement.textContent = color.name;
                            textElement.classList.add("ms-2");

                            labelElement.appendChild(inputElement);
                            labelElement.appendChild(textElement);

                            colElement.appendChild(labelElement);
                            rowElement.appendChild(colElement);
                        });
                    })
                    .catch(error => console.error(error))
            ]).then(() => {
                fetch('http://localhost:8000/item/' + itemId)
                    .then(response => response.json())
                    .then(item => {
                        if (item != null) {
                            // document.getElementById("ifNull").style.display = "none";
                            // document.getElementById("ifNotNull").style.display = "block";
                            const {
                                id,
                                modelName,
                                price,
                                collection,
                                subType,
                                gender,
                                materials,
                                colors,
                                isChild,
                                discount,
                                pictures
                            } = item;
                            document.getElementById("id").value = id;
                            document.getElementById("modelName").value = modelName;
                            document.getElementById("price").value = price;
                            document.getElementById("isChild").checked = isChild;
                            document.getElementById("discount").value = discount;

                            if (collection != null) {
                                const collectionDropDown = document.getElementById("collectionId");
                                for (let i = 0; i < collectionDropDown.options.length; i++) {
                                    if (collectionDropDown.options[i].value == collection.id) {
                                        collectionDropDown.selectedIndex = i;
                                        break;
                                    }
                                }
                            }
                            if (subType != null) {
                                const subTypeDropdown = document.getElementById("subTypeId");
                                for (let i = 0; i < subTypeDropdown.options.length; i++) {
                                    if (subTypeDropdown.options[i].value == subType.id) {
                                        subTypeDropdown.selectedIndex = i;
                                        break;
                                    }
                                }
                            }
                            if (gender != null) {
                                const genderDropdown = document.getElementById("genderId");
                                for (let i = 0; i < genderDropdown.options.length; i++) {
                                    if (genderDropdown.options[i].value == subType.id) {
                                        genderDropdown.selectedIndex = i;
                                        break;
                                    }
                                }
                            }
                            selectedMaterialIds = materials.map(material => material.id);
                            const materialCheckboxes = document.querySelectorAll('input[name="materials[]"]');
                            materialCheckboxes.forEach(checkbox => {
                                const materialId = parseInt(checkbox.value);
                                checkbox.checked = selectedMaterialIds.includes(materialId);
                            });

                            selectedColorIds = colors.map(color => color.id);
                            const colorCheckboxes = document.querySelectorAll('input[name="colors[]"]');
                            colorCheckboxes.forEach(checkbox => {
                                const colorId = parseInt(checkbox.value);
                                checkbox.checked = selectedColorIds.includes(colorId);
                            });

                            const carouselInner = document.querySelector('#carouselExample .carousel-inner')
                            if (pictures != null) {
                                pictures.forEach((picture, index) => {
                                    const div = document.createElement('div');
                                    div.classList.add('carousel-item');
                                    if (index === 0) {
                                        div.classList.add('active');
                                    }
                                    const img = document.createElement('img');
                                    img.classList.add('d-block', 'w-500');
                                    img.src = "http://localhost:8000/file/view/" + picture.name;
                                    div.appendChild(img);
                                    carouselInner.appendChild(div);
                                });
                            }

                            document.getElementById("isChild").checked = item.child;
                        } else {
                        }
                    }).catch(error => {
                    console.error(error);
                });
            })

            function updateItem() {
                const request = new XMLHttpRequest();
                request.open("PUT", '/item', true);
                request.setRequestHeader("Content-Type", "application/json");
                request.onreadystatechange = () => {
                    if (request.readyState === XMLHttpRequest.DONE) {
                        if (request.response != null) {
                            showAlert("Successfully created!", false);
                        } else {
                            showAlert("Error!", true);
                        }
                    }
                }
                const itemData = {
                    id: parseInt(document.getElementById("id").value),
                    modelName: document.getElementById("modelName").value,
                    price: parseInt(document.getElementById("price").value),
                    discount: parseInt(document.getElementById("discount").value),
                    collection: {
                        id: document.getElementById("collectionId").value
                    },
                    subType: {
                        id: document.getElementById("subTypeId").value
                    },
                    gender: {
                        id: parseInt(document.getElementById("genderId").value)
                    },
                    materials: [],
                    colors: [],
                    child: document.getElementById("isChild").checked
                }
                selectedMaterialIds.forEach(id => {
                    const materialObj = {id: id};
                    itemData.materials.push(materialObj);
                });
                selectedColorIds.forEach(id => {
                    const colorObj = {id: id};
                    itemData.colors.push(colorObj);
                })

                request.send(JSON.stringify(itemData))

            }

            function addImages() {
                const input = document.getElementById("images");
                const files = input.files;
                const formData = new FormData();

                for (let i = 0; i < files.length; i++) {
                    formData.append('itemImages', files[i]);
                }
                fetch('<div class="carousel-item">\n' +
                    '                                <img class="d-block w-100" alt="...">\n' +
                    '                            </div>item/add-images/' + itemId, {
                    method: 'POST',
                    body: formData,
                })
                    .then(response => {
                        if (response != null) {
                            showAlert("Successfully added! Refresh page.", false)
                        } else {
                            showAlert("Error", true)
                        }
                    })
                    .catch(error => {
                        console.error(error)
                    })
            }

            function deleteItem() {
                fetch('http://localhost:8000/item/' + itemId, {
                    method: 'DELETE'
                })
                    .catch(error => {
                        console.error(error)
                    });
            }

            function showAlert(message, isError) {
                var alertDiv = document.createElement("div");
                isError ?
                    alertDiv.className = "alert alert-danger col-6 mx-auto fixed-top"
                    :
                    alertDiv.className = "alert alert-success col-6 mx-auto fixed-top";
                alertDiv.innerHTML = message;
                document.body.appendChild(alertDiv);

                setTimeout(function () {
                    alertDiv.remove();
                }, 3000);
            }
        </script>
    </div>
</div>
</html>