<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout.html"
>

<div layout:fragment="content">
    <div class="row" id="ifNotNull" style="display: block;">
        <div class="col-12 mx-auto text-center">
            <div class="row">
                <div class="col-8 text-center mx-auto">
                    <div class="row mt-3">
                        <div class="col-8 mx-auto d-block">
                            <a href="/collection/" class="btn btn-outline-dark me-2">Go to Collections</a>
                            <a id="linkToParentBrand" class="btn btn-outline-dark ">Go to Parent Brand</a>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-8 mx-auto">
                            <label class="text-black-50">Brand</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-8 mx-auto">
                            <select type="text" name="brandId" id="brandId" class="form-control text-center"
                                    required>
                                <option selected>Choose Brand</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-8 mx-auto">
                            <label class="text-black-50">Year</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-8 mx-auto">
                            <select type="text" name="year" id="year" class="form-control text-center"
                                    placeholder="Select Year"
                                    required>
                                <option value="2023" selected="selected">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-8 mx-auto">
                            <label class="text-black-50">Season</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-8 mx-auto">
                            <select type="text" name="seasonId" id="seasonId" class="form-control text-center"
                                    placeholder="Select Season">
                                <option selected>Choose Season</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-8 mx-auto">
                            <label class="text-black-50">Manufacturer</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-8 mx-auto">
                            <select type="text" name="manufacturerId" id="manufacturerId"
                                    class="form-control text-center"
                                    placeholder="Select Season">
                                <option selected>Choose Manufacturer</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-8 mx-auto">
                            <label class="text-black-50">Name</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-8 mx-auto">
                            <input type="text" name="name" id="name" class="form-control text-center"
                                   required>
                            <input type="hidden" name="id" id="id" class="form-control">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-8 mx-auto">
                            <button class="btn btn-success me-3" onclick="updateCollection()">Update</button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                Delete
                            </button>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm delete</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="fs-5">Are you sure you want to delete?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                                            onclick="deleteCollection()">Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="row col-12 text-center">
                <h1 id="items-header" class="header text-center">ITEMS</h1>
            </div>

            <div class="col-12 d-flex align-items-center justify-content-center">
                <button type="button" class="btn btn-success mx-auto" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                    Create New
                </button>

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Item</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mt-3 ">
                                    <div class="col-12 mx-auto">
                                        <h2 class="header">ITEM CREATE PAGE</h2>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 mx-auto">
                                        <label>Name</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12 mx-auto">
                                        <input type="text" required class="form-control" name="modelName"
                                               id="modelName">
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 mx-auto">
                                        <label>Price</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12 mx-auto">
                                        <div class="input-group">
                                            <span class="input-group-text">$</span>
                                            <input type="number" class="form-control" id="price"
                                                   aria-label="Amount (to the nearest dollar)">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-3">
                                    <div class="col-12 mx-auto">
                                        <label>SubType</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12 mx-auto">
                                        <select required class="form-select" id="subTypeId">
                                            <option value="">Choose SubType</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 mx-auto">
                                        <label>Gender</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12 mx-auto">
                                        <select name="genderSelect" id="genderSelect" required class="form-select">
                                            <option value="1" selected>MAN</option>
                                            <option value="2">WOMAN</option>
                                            <option value="3">UNISEX</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 mx-auto">
                                        <button class="btn " style="background-color: #EEFCF5" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseMaterials" aria-expanded="false"
                                                aria-controls="collapseMaterials">
                                            Materials ▽
                                        </button>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="collapse" id="collapseMaterials">
                                        <div class="col-12 mx-auto" id="materialId">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 mx-auto">
                                        <button class="btn " style="background-color: #EEFCF5" type="button"
                                                data-bs-toggle="collapse"
                                                data-bs-target="#collapseColors" aria-expanded="false"
                                                aria-controls="collapseColors">
                                            Colors ▽
                                        </button>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="collapse" id="collapseColors">
                                        <div class="col-12 mx-auto" id="colorId">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 mx-auto">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="checkbox" id="isChild">
                                            <label class="form-check-label" for="isChild">For Child</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                                </button>
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal"
                                        onclick="createItem()">Create
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 mx-auto text-center">
                    <table class="table table-striped mt-3" id="collection-table">
                        <thead>
                        <tr>
                            <th scope="col">NAME</th>
                            <th scope="col">PRICE</th>
                            <th scope="col">TYPE</th>
                            <th scope="col">SUB-TYPE</th>
                            <th scope="col">GENDER</th>
                            <th scope="col">FOR CHILD</th>
                            <th scope="col">DISCOUNT</th>
                            <th scope="col">DETAILS</th>
                        </tr>
                        </thead>
                        <tbody id="items-table-body">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--    <div class="row mt-3 text-center d-flex align-items-center" id="ifNull" style="display: none;">-->
    <!--        <div class="col-8 mx-auto ">-->
    <!--            <h1 class="mx-auto h1 text-center">COLLECTION NOT FOUND!</h1>-->
    <!--            <h2 class="mx-auto h2 text-center">It is deleted or hasn't added yet!</h2>-->
    <!--            <a href="/collection/" class="btn btn-outline-dark ">Go to Collections</a>-->
    <!--        </div>-->
    <!--    </div>-->

    <script>
        const path = window.location.pathname;
        const pathParts = path.split('/');
        const collectionId = pathParts[3];

        Promise.all([
            fetch('http://localhost:8000/season/all')
                .then(response => response.json())
                .then(data => {
                    const selectElement = document.getElementById("seasonId");
                    data.forEach(season => {
                        const optionElement = document.createElement('option');
                        optionElement.value = season.id;
                        optionElement.text = season.name;
                        selectElement.appendChild(optionElement);
                    });
                    selectElement.selectedIndex = 0;
                })
                .catch(error => console.error(error)),
            fetch('http://localhost:8000/brand/all')
                .then(response => response.json())
                .then(data => {
                    const selectElement = document.getElementById("brandId");
                    data.forEach(brand => {
                        const optionElement = document.createElement('option');
                        optionElement.value = brand.id;
                        optionElement.text = brand.name;
                        selectElement.appendChild(optionElement);
                    });
                    selectElement.selectedIndex = 0;
                }).catch(error => console.error(error)),
            fetch('http://localhost:8000/manufacturer/all')
                .then(response => response.json())
                .then(data => {
                    const selectElement = document.getElementById("manufacturerId");
                    data.forEach(manufacturer => {
                        const optionElement = document.createElement('option');
                        optionElement.value = manufacturer.id;
                        optionElement.text = manufacturer.name;
                        selectElement.appendChild(optionElement);
                    });
                }).catch(error => console.error(error))
        ]).then(() => {
            fetch('http://localhost:8000/collection/' + collectionId)
                .then(response => response.json())
                .then(collection => {
                    if (collection != null) {
                        // document.getElementById("ifNull").style.display = "none";
                        // document.getElementById("ifNotNull").style.display = "block";

                        const {id, name, brand, season, year, manufacturer} = collection;
                        document.getElementById("id").value = id;
                        document.getElementById("name").value = name;

                        if (brand != null) {
                            const brandDropdown = document.getElementById("brandId");
                            for (let i = 0; i < brandDropdown.options.length; i++) {
                                if (brandDropdown.options[i].value == brand.id) {
                                    brandDropdown.selectedIndex = i;
                                    break;
                                }
                            }
                            document.getElementById("linkToParentBrand").href = '/brand/details/' + brand.id;
                        }
                        if (year != null) {
                            const yearDropdown = document.getElementById("year");
                            for (let i = 0; i < yearDropdown.options.length; i++) {
                                if (yearDropdown.options[i].value == year.id) {
                                    yearDropdown.selectedIndex = i;
                                    break;
                                }
                            }
                        }
                        if (season != null) {
                            const seasonDropdown = document.getElementById("seasonId");
                            for (let i = 0; i < seasonDropdown.options.length; i++) {
                                if (seasonDropdown.options[i].value == season.id) {
                                    seasonDropdown.selectedIndex = i;
                                    break;
                                }
                            }
                        }
                        if (manufacturer != null) {
                            const manufacturerDropdown = document.getElementById("manufacturerId");
                            for (let i = 0; i < manufacturerDropdown.options.length; i++) {
                                if (manufacturerDropdown.options[i].value == manufacturer.id) {
                                    manufacturerDropdown.selectedIndex = i;
                                    break;
                                }
                            }
                        }
                    } else {
                        // document.getElementById("ifNull").style.display = "block";
                        // document.getElementById("ifNotNull").style.display = "none";
                    }
                }).catch(error => {
                console.error(error);
            });
        })
        fetch('http://localhost:8000/item/get-by-collection-id/' + collectionId)
            .then(response => response.json())
            .then(data => {
                const tableBodyElement = document.getElementById("items-table-body");
                tableBodyElement.innerHTML = '';
                    data.forEach(item => {
                        const trElement = document.createElement('tr');
                        const nameTdElement = document.createElement('td');
                        const priceTdElement = document.createElement('td');
                        const typeTdElement = document.createElement('td');
                        const subTypeTdElement = document.createElement('td');
                        const genderTdElement = document.createElement('td');
                        const isChildTdElement = document.createElement('td');
                        const discountTdElement = document.createElement('td');
                        const detailsTdElement = document.createElement('td');

                        nameTdElement.innerText = item.modelName;
                        priceTdElement.innerText = item.price;
                        typeTdElement.innerText = item.subType.type.name;
                        subTypeTdElement.innerText = item.subType.name;
                        genderTdElement.innerText = item.gender.name;
                        isChildTdElement.innerText = item.child ? 'YES' : 'NO';
                        discountTdElement.innerText = item.discount ? item.discount : 0;
                        detailsTdElement.innerHTML =
                            `<a href="/item/details/${item.id}" class="btn-success btn btn-sm">Details</a>`;

                        trElement.appendChild(nameTdElement);
                        trElement.appendChild(priceTdElement);
                        trElement.appendChild(typeTdElement);
                        trElement.appendChild(subTypeTdElement);
                        trElement.appendChild(genderTdElement);
                        trElement.appendChild(isChildTdElement);
                        trElement.appendChild(discountTdElement);
                        trElement.appendChild(detailsTdElement);
                        tableBodyElement.appendChild(trElement);
                });
            })
            .catch(error => console.error(error));

        let selectedMaterialIds = [];
        let selectedColorIds = [];

        function createItem() {
            const request = new XMLHttpRequest();
            request.open("POST", '/item', true);
            request.setRequestHeader("Content-Type", "application/json");
            request.onreadystatechange = () => {
                if (request.readyState === XMLHttpRequest.DONE) {
                    if (request.response != null) {
                        showAlert("Successfully created!", false);
                    } else {
                        showAlert("Error!", true);
                    }
                }
            }
            const itemData = {
                modelName: document.getElementById("modelName").value,
                price: parseInt(document.getElementById("price").value),
                collection: {
                    id: parseInt(collectionId)
                },
                subType: {
                    id: document.getElementById("subTypeId").value
                },
                gender: {
                    id: parseInt(document.getElementById("genderSelect").value)
                },
                materials: [],
                colors: [],
                child : document.getElementById("isChild").checked
            }
            selectedMaterialIds.forEach(id => {
                const materialObj = {id: id};
                itemData.materials.push(materialObj);
            });
            selectedColorIds.forEach(id => {
                const colorObj = {id: id};
                itemData.colors.push(colorObj);
            })

            request.send(JSON.stringify(itemData))
            // document.getElementById("modelName").value = '';
        }

        fetch('http://localhost:8000/sub-type/all')
            .then(response => response.json())
            .then(data => {
                const selectElement = document.getElementById("subTypeId");
                data.forEach(subType => {
                    const optionElement = document.createElement('option');
                    optionElement.value = subType.id;
                    optionElement.text = subType.type.name + ' - ' + subType.name;
                    selectElement.appendChild(optionElement);
                });
            }).catch(error => console.error(error));
        fetch('http://localhost:8000/material/all')
            .then(response => response.json())
            .then(data => {
                const divElement = document.getElementById("materialId");
                const rowElement = document.createElement("div");
                rowElement.classList.add("row", "mt-2");
                divElement.appendChild(rowElement);
                data.forEach(material => {
                    const colElement = document.createElement("div");
                    colElement.classList.add("col-md-2", "mb-3");

                    const labelElement = document.createElement("label");
                    labelElement.classList.add("d-block", "me-2");

                    const inputElement = document.createElement("input");
                    inputElement.type = "checkbox";
                    inputElement.name = "materials[]";
                    inputElement.value = material.id;

                    inputElement.addEventListener('change', (event) => {
                        const materialId = parseInt(event.target.value);
                        if (event.target.checked) {
                            selectedMaterialIds.push(materialId);
                        } else {
                            const index = selectedMaterialIds.indexOf(materialId);
                            if (index > -1) {
                                selectedMaterialIds.splice(index, 1);
                            }
                        }
                    });

                    const textElement = document.createElement("span");
                    textElement.textContent = material.name;
                    textElement.classList.add("ms-2");

                    labelElement.appendChild(inputElement);
                    labelElement.appendChild(textElement);

                    colElement.appendChild(labelElement);
                    rowElement.appendChild(colElement);
                });
            })
            .catch(error => console.error(error));

        fetch('http://localhost:8000/color/all')
            .then(response => response.json())
            .then(data => {
                const divElement = document.getElementById("colorId");
                const rowElement = document.createElement("div");
                rowElement.classList.add("row", "mt-2");
                divElement.appendChild(rowElement);

                data.forEach(color => {
                    const colElement = document.createElement("div");
                    colElement.classList.add("col-md-2", "mb-2");

                    const labelElement = document.createElement("label");
                    labelElement.classList.add("d-block", "me-2");

                    const inputElement = document.createElement("input");
                    inputElement.type = "checkbox";
                    inputElement.name = "materials[]";
                    inputElement.value = color.id;

                    inputElement.addEventListener('change', (event) => {
                        const materialId = parseInt(event.target.value);
                        if (event.target.checked) {
                            selectedColorIds.push(materialId);
                        } else {
                            const index = selectedColorIds.indexOf(materialId);
                            if (index > -1) {
                                selectedColorIds.splice(index, 1);
                            }
                        }
                    });

                    const textElement = document.createElement("span");
                    textElement.textContent = color.name;
                    textElement.classList.add("ms-2");

                    labelElement.appendChild(inputElement);
                    labelElement.appendChild(textElement);

                    colElement.appendChild(labelElement);
                    rowElement.appendChild(colElement);
                });
            })
            .catch(error => console.error(error));

        function updateCollection() {
            const request = new XMLHttpRequest();
            request.open("PUT", '/collection', true);
            request.setRequestHeader("Content-Type", "application/json");
            request.onreadystatechange = () => {
                if (request.readyState === XMLHttpRequest.DONE) {
                    if (request.status === 200) {
                        showAlert("Successfully updated! Refresh the page!", false);
                    } else {
                        showAlert("Error! You may not have access!", true);
                    }
                }
            }
            request.send(
                JSON.stringify(
                    {
                        "id": document.getElementById("id").value,
                        "name": document.getElementById("name").value,
                        "brand": {
                            "id": parseInt(document.getElementById("brandId").value)
                        },
                        "season": {
                            "id": parseInt(document.getElementById("seasonId").value)
                        },
                        "year": document.getElementById("year").value,
                        "manufacturer": {
                            "id": parseInt(document.getElementById("manufacturerId").value)
                        }
                    }
                ))
        }

        function deleteCollection() {
            const request = new XMLHttpRequest();
            const id = document.getElementById("id").value;
            request.open("DELETE", '/collection/' + id, true);
            request.setRequestHeader("Content-Type", "application/json");
            request.onreadystatechange = () => {
                if (request.readyState === XMLHttpRequest.DONE) {
                    if (request.status === 200) {
                        showAlert("Successfully deleted! Refresh the page!", false);
                    } else {
                        showAlert("Error! You may not have access!", true);
                    }
                }
            }
            request.send()
        }

        function showAlert(message, isError) {
            let alertDiv = document.createElement("div");
            isError ? alertDiv.className = "alert alert-danger col-6 mx-auto" : alertDiv.className = "alert alert-success col-6 mx-auto";
            alertDiv.innerHTML = message;
            document.body.appendChild(alertDiv);

            setTimeout(function () {
                alertDiv.remove();
            }, 3000);
        }
    </script>
</div>
</html>