<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{'/bootstrap-icons-1.10.4/font/bootstrap-icons.css'}">
    <meta charset="UTF-8">
    <title>SecurityApp</title>
</head>
<body>
<div class="container">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg  bg-body-tertiary mx-auto" style="background-color: #f8f9fa">
            <div class="container-fluid mx-auto">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto" id="navbarNav">
                    <a class="navbar-brand fs-1 text-success mx-auto" href="/item">INTERTOP</a>
                    <ul class="navbar-nav justify-content-center mx-auto align-items-center">
                        <li class="nav-item flex-grow-1 py-3 px-2 text-black">
                            <a class="nav-link active fs-6 text-black" aria-current="page" href="#"><i class="bi bi-geo-alt"></i> OUR ADDRESSES</a>
                        </li>

                        <li class="nav-item flex-grow-1 py-3 px-2">
                            <a class="nav-link fs-6 text-black"><i class="bi bi-whatsapp"></i> +7 771 704-53-01</a>
                        </li>

                        <li class="nav-item flex-grow-1 py-3 px-2">
                            <a class="nav-link fs-6 text-black"><i class="bi bi-telephone"></i> +7 705 924-11-00</a>
                        </li>

                        <li class="nav-item flex-grow-1 py-3 px-2" sec:authorize="isAnonymous()">
                            <a href="/account/register" class="nav-link fs-6 text-black">REGISTER</a>
                        </li>

                        <li class="nav-item flex-grow-1 py-3 px-2 " sec:authorize="isAnonymous()">
                            <a href="/account/sign-in" class="nav-link fs-6 text-black">LOGIN</a>
                        </li>
                        <li class="nav-item flex-grow-1 py-3 px-2 " sec:authorize="hasAnyRole('ROLE_MODER')">
                            <a href="/moderate/" class="nav-link fs-6 text-black">MODER PAGE</a>
                        </li>

                        <li class="nav-item flex-grow-1 py-3 px-2 dropdown" sec:authorize="isAuthenticated()">
                            <span class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown"
                                  aria-expanded="false">
                                <span class="fs-6 text-black" th:text="${#authentication.principal.fullName}"></span>
                            </span>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item fs-6 text-black" th:href="@{'/account/profile'}">Profile</a>
                                </li>
                                <li><a class="dropdown-item fs-6 text-black"
                                       th:href="@{'/account/settings'}">Settings</a></li>
                                <li><a class="dropdown-item fs-6 text-black" href="JavaScript:void(0)"
                                       onclick="logout()">Logout</a>
                                </li>
                                <form hidden="hidden" th:action="${'/logout'}" method="post" id="logoutForm">
                                </form>
                                <script type="text/javascript">
                                    function logout() {
                                        document.getElementById("logoutForm").submit();
                                    }
                                </script>
                            </ul>
                        </li>
                        <li class="nav-item flex-grow-1 py-3 px-2">
                            <a href="/cart" class="nav-link text-black">
                                <i class="bi bi-cart fs-3" style="cursor: pointer;"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-center" style="background-color: #198754">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">MEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="#">WOMEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">CHILD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">CLOTHING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">SPORT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">ACCESSORIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">OUTLET</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">BRANDS</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12" layout:fragment="content">

            </div>
        </div>

            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                <div class="col mb-3">
                    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                        INTERTOP
                    </a>
                    <p class="text-muted">&copy; 2022</p>
                </div>

                <div class="col mb-3">

                </div>

                <div class="col mb-3">
                    <h5>INTERTOP</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Social Status</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">News</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Career</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>For clients</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Promos</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Credit</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Delivery</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Return</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <h5>Catalog</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Women</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Men</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Child</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Clothes</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Footwear</a></li>
                    </ul>
                </div>
            </footer>
    </div>
</div>
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}">
    function showAlert(message, isError) {
        var alertDiv = document.createElement("div");
        alertDiv.className = isError ? "alert alert-danger col-6 mx-auto position-absolute top-0 start-50 translate-middle-x" : "alert alert-success col-6 mx-auto position-absolute top-0 start-50 translate-middle-x";
        alertDiv.innerHTML = message;
        document.body.appendChild(alertDiv);

        setTimeout(function() {
            alertDiv.remove();
        }, 3000);
    }
</script>
</body>
</html>