<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
    <meta charset="UTF-8">
    <title>SecurityApp</title>
</head>
<body>
<div class="container">
    <div class="col-12">
        <nav class="navbar navbar-expand-lg  bg-body-tertiary" style="background-color: #f8f9fa">
            <div class="container-fluid mx-auto">
                <a class="navbar-brand fs-3 text-success" href="/">INTERTOP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mx-auto" id="navbarNav">
                    <ul class="navbar-nav justify-content-center">

                        <li class="nav-item mx-auto py-3 px-2 text-black">
                            <a class="nav-link active fs-6 text-black" aria-current="page" href="#">OUR ADDRESSES</a>
                        </li>

                        <li class="nav-item mx-auto py-3 px-2">
                            <a href="/account/register" class="nav-link fs-6 text-black">+7 771 704-53-01</a>
                        </li>

                        <li class="nav-item mx-auto py-3 px-2">
                            <a href="/account/register" class="nav-link fs-6 text-black">+7 705 924-11-00</a>
                        </li>

                        <form class="d-flex py-3 px-2" role="search">
                            <input class="form-control me-2 text-black" type="search" placeholder="Search"
                                   aria-label="Search" style="width: 12rem">
                            <button class="btn btn-outline-dark" type="submit">Search</button>
                        </form>

                        <li class="nav-item mx-auto py-3 px-2" sec:authorize="isAnonymous()">
                            <a href="/account/register" class="nav-link fs-6 text-black">REGISTER</a>
                        </li>

                        <li class="nav-item mx-auto py-3 px-2 " sec:authorize="isAnonymous()">
                            <a href="/account/sign-in" class="nav-link fs-6 text-black">LOGIN</a>
                        </li>
                        <li class="nav-item mx-auto py-3 px-2 " sec:authorize="hasAnyRole('ROLE_MODER')">
                            <a href="/moderate/" class="nav-link fs-6 text-black">MODER PAGE</a>
                        </li>

                        <li class="nav-item mx-auto py-3 px-2 dropdown" sec:authorize="isAuthenticated()">
                            <span class="nav-link dropdown-toggle text-black" role="button" data-bs-toggle="dropdown"
                                  aria-expanded="false">
                                <span class="fs-6 text-black" th:text="${#authentication.principal.fullName}"></span>
                            </span>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item fs-6 text-black" th:href="@{'/account/profile'}">Profile</a>
                                </li>
                                <li><a class="dropdown-item fs-6 text-black"
                                       th:href="@{'/account/settings'}">Settings</a></li>
                                <li><a class="dropdown-item fs-6 text-black" href="JavaScript:void(0)"
                                       onclick="logout()">Logout</a>
                                </li>
                                <form hidden="hidden" th:action="${'/logout'}" method="post" id="logoutForm">
                                </form>
                                <script type="text/javascript">
                                    function logout() {
                                        document.getElementById("logoutForm").submit();
                                    }
                                </script>
                            </ul>
                        </li>
                        <li class="nav-item mx-auto py-3 px-2">
                            <a href="/account/favourites" class="nav-link text-black fs-6">♡</i></a>
                        </li>
                        <li class="nav-item mx-auto py-3 px-2">
                            <a href="/cart" class="nav-link text-black fs-6">🛒</i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-12">
                <ul class="nav justify-content-center" style="background-color: #198754">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">MEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " href="#">WOMEN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">CHILD</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">CLOTHING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">SPORT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">ACCESSORIES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">OUTLET</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">BRANDS</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12" layout:fragment="content">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}">
</script>
</body>
</html>